.scene {
  perspective: 1000;
  width: 10em;
  position: relative;
  cursor: default;
}

.cube {
  position: relative;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  // transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  // transform-origin: 100% 50%;
  transform-origin: center;
  width: 10em;
  height: 3em;

  // &:hover {
  //   transform: rotateX(90deg);
  // }
}

.scene:hover .cube {
  transform: rotateX(90deg);
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: fit-content;
  width: max-content;

  // text-align: center;
  // text-transform: uppercase;
}

.top {
  // background: #fff;
  // color: #6927DA;
  transform: rotateX(-90deg) translateZ(1.5em);
}

.front {
  // background: #222229;
  // color: #FFFFFF;
  // box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 1em);
  margin-top: 8%;
}

// .scene {
//   height: 3em; 
//   overflow: hidden; 
//   position: relative;
//   display: inline-block;
// }

// .cube {
//   position: relative;
//   width: 10rem;
//   height: 3em;
// }

// .side {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   transition: all 0.5s ease;
// }

// .top {
//   color: #6927DA;
//   transform: translateY(0);
//   opacity: 1;
// }

// .front {
//   color: white;
//   transform: translateY(100%); 
//   opacity: 0;
// }

// .cube:hover .top {
//   transform: translateY(-100%); 
//   opacity: 0;
// }

// .cube:hover .front {
//   transform: translateY(0); 
//   opacity: 1;
// }

// .dot-white {
//   display: inline-block;
//   width: 8px;
//   height: 8px;
//   background: #FFFFFF;
//   margin-left: 8px;
//   border-radius: 50%;
// }

// .dot-purple {
//   display: inline-block;
//   width: 8px;
//   height: 8px;
//   background: #6927DA;
//   margin-left: 8px;
//   border-radius: 50%;
// }