@import "tailwindcss";

@font-face {
  font-family: 'Ethnocentric';
  src: url('./assets/ethnocentric\ rg.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {


  overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.SMN_effect-31 a {
  position: relative;
  overflow: hidden;
  display: block;
  /* text-align: center; */
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}

.SMN_effect-31 a span {
  display: block;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SMN_effect-31 a:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  /* display: inline; */
  /* text-align: center; */
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SMN_effect-31 a:hover span {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.SMN_effect-31 a:hover:after {
  top: 0;
}

.hover-purple:hover:after {
  color: #B555D3;
  /* Tailwind blue-500 */
}

.SMN_effect-31 a:active {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}



.letter-broken {
  transform: translateY(var(--offset));
  opacity: 0.5;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.letter-joined {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

@keyframes expand-from-center {
  0% {
    width: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
  }

  100% {
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;
  }
}


/* for footer dot  */
/* a.mask-link span::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: #FFFFFF;
  margin-left: 0.25rem;
  cursor: default;
  transition: background-color 0.1s cubic-bezier(1, 0, 0, 1);
} */

a.mask-link:hover span::after {
  background-color: #B555D3;
}


a.mask-link {
  position: relative;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  cursor: default;

}

a.mask-link span {
  display: inline-block;
  position: relative;
  color: white;
  /* Fallback */
  background: linear-gradient(to right, white 50%, #B555D3 50%);
  background-size: 200% 100%;
  background-position: 0 0;
  /* start with white fully visible */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.6s cubic-bezier(1, 0, 0, 1);
}

/* Hover: Red wipes in from left to right (but appears right to left because of direction) */
a.mask-link:hover span {
  background-position: 100% 0;
}

/* a.mask-link {
  position: relative;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
}

a.mask-link span {
  display: inline-block;
  position: relative;
  color: white; 
  background: linear-gradient(to right, white 50%, #d62e49 50%);
  background-size: 200% 100%;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}

a.mask-link:hover span {
  background-position: 100% 0;
  animation: hardFlicker 0.7s steps(2, end) forwards;
}

@keyframes hardFlicker {
  0%, 60%, 100% {
    -webkit-text-fill-color: transparent; 
  }
  48%, 52% {
    -webkit-text-fill-color: transparent; 
    text-shadow: none;
  }
  50% {
    -webkit-text-fill-color: black; 
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
} */



@keyframes radarPulse {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }

  100% {
    transform: scale(1.8);
    opacity: 0.05;
  }
}

.radar-ring {
  background-color: #6927DA;
  opacity: 0.25;
  animation: radarPulse 3s ease-out infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-1000 {
  animation-delay: 1s;
}


/* fonts  */

.exo {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-semi {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* scroll home page automatic  */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

.hover\:animation-pause:hover {
  animation-play-state: paused;
}